footer.footer {
  padding: 10px;
  padding-bottom: 0;
  background-color: #eaeaea;
  text-align: center;
}

div.centered {
  text-align: center;
}

img.post {
  width: 400px;
  margin-bottom: 10px;
}


body {
  padding-top: 70px;
}

img.logo {
  width: 25px;
  height: 25px;
}
