footer.footer {
  padding: 10px;
  padding-bottom: 0;
  background-color: #eaeaea;
  text-align: center;
}

div.centered {
  text-align: center;
}

img.post {
  width: 400px;
  margin-bottom: 10px;
}

body {
  padding-top: 70px;
}

img.logo {
  width: 25px;
  height: 25px;
}

a {
  color: #0076b7;
}

.pagination > .disabled > a,
.pagination > .disabled > span,
.pagination > .active > a,
.pagination > .active > span {
  color: #707070;
}

.badge {
  background-color: #767676;
}